@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata.otf") format("opentype");
}
/* line 6, ../scss/heyguys.scss */
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Inconsolata;
}

/* line 13, ../scss/heyguys.scss */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 21, ../scss/heyguys.scss */
#wrap {
  min-height: 100%;
  height: 100% !important;
}
/* line 25, ../scss/heyguys.scss */
#wrap .sidebar {
  border-left: 1px solid #EFEFEF;
  min-height: 100vh;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 32, ../scss/heyguys.scss */
#wrap .sidebar .brand {
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #EFEFEF;
  font-size: 36px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 75px;
  width: inherit;
  /* This is for sticky header */
  position: fixed;
  top: 0;
  height: 75px;
  /* End Sticky Header */
}

/* line 53, ../scss/heyguys.scss */
#event-list {
  padding-top: 75px;
  height: inherit;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow: scroll;
}

/* line 62, ../scss/heyguys.scss */
.add-event {
  /* This is for sticky footer */
  position: fixed;
  bottom: 0;
  height: 50px;
  width: inherit;
  /* End Sticky Footer */
  font-size: 25px;
  line-height: 50px;
  padding-left: 30px;
  background-color: #EFEFEF;
}
/* line 77, ../scss/heyguys.scss */
.add-event i {
  line-height: inherit;
  margin-right: 30px;
}

/* line 83, ../scss/heyguys.scss */
.add-event:hover {
  background-color: #CDCDCD;
  cursor: pointer;
}

/* line 88, ../scss/heyguys.scss */
.event-wrapper {
  padding: 20px;
}

/* line 94, ../scss/heyguys.scss */
.event-content .event-name {
  font-size: 26px;
  margin-bottom: 0px;
}
/* line 99, ../scss/heyguys.scss */
.event-content .event-time, .event-content .event-price, .event-content .event-distance {
  margin-bottom: 0px;
}
/* line 103, ../scss/heyguys.scss */
.event-content .event-distance {
  color: #9C9C9C;
}

/* line 108, ../scss/heyguys.scss */
.event-name {
  margin-bottom: 0px;
}
/* line 111, ../scss/heyguys.scss */
.event-name p {
  font-size: 18px;
}

/* line 116, ../scss/heyguys.scss */
.event-logisitics {
  margin-bottom: 10px;
}
/* line 118, ../scss/heyguys.scss */
.event-logisitics .event-address {
  overflow: hidden;
}

/* line 123, ../scss/heyguys.scss */
#map-canvas {
  height: 100%;
}
