@font-face {
	font-family: Inconsolata;
	src: url("../fonts/Inconsolata.otf") format("opentype");
}

body, html {
	margin: 0;
	padding: 0;
	font-family: Inconsolata;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

$event-wrapper-padding: 20px;
$add-event-height: 50px;
$header-footer-offset: 25px;
#wrap {
	// min-height: 100%;
	// height: 100% !important;
	
	.sidebar {
		border-left: 1px solid #EFEFEF;
		// min-height: 100%;
		// height: 100%;
		padding-left: 0px;
		padding-right: 0px;

		.brand {
			padding-left: $event-wrapper-padding;
			padding-bottom: $event-wrapper-padding;
			background-color: #EFEFEF;

			font-size: 36px;

			margin-bottom: 0px;
			margin-top: 0px;
			line-height: $add-event-height + $header-footer-offset;
			width: inherit;

			/* This is for sticky header */
			position: fixed;
			top: 0;
			height: $add-event-height + $header-footer-offset;
			/* End Sticky Header */
		}
	}
}

#event-list {
	padding-top: $add-event-height;
	height: inherit;
	margin: 0 auto;
	padding-bottom: $add-event-height;

	overflow: hidden;
}

.add-event {
	/* This is for sticky footer */
	position: fixed;
	bottom: 0;
	height: $add-event-height;
	width: inherit;
	/* End Sticky Footer */

	font-size: 25px;
	
	line-height: $add-event-height;
	padding-left: 30px;

	background-color: #EFEFEF;

	i {
		line-height: inherit;
		margin-right: 30px;
	}
}

.add-event:hover {
	background-color: #CDCDCD;
	cursor: pointer;
}

.event-wrapper {
	padding-left: $event-wrapper-padding;
	padding-right: $event-wrapper-padding;
}

$event-block-margin: 5px;
.event-content {
	.event-name {
		font-size: 26px;
		margin-bottom: 0px;
	}

	.event-time, .event-price, .event-distance {
		margin-bottom: 0px;
	}

	.event-distance {
		color: #9C9C9C;
	}
}

.event-name {
	margin-bottom: 0px;

	p {
		font-size: 18px;
	}
}

.event-logisitics {
	margin-bottom: 10px;
	.event-address {
		overflow: hidden;
	}
}

#map-canvas {
	height: 100%;
}